.ui.grid#home-grid(ng-controller="homeController")
  .one.wide.column
  .three.wide.column#group-menu-column
    .ui.wide.vertical.menu
      a.active.item
        label group1
      a.item
        label group2
      a.item
        label group3
  .ten.wide.column
    span
    table.ui.table
      thead
        tr
          th
            span 姓名
          th
            span 评价类型
          th
            span 评价等级
          th
            span 评语
          th
            span 确认添加
          th
            span 以往评价
      tbody
        tr(ng-repeat="trainee in vm.trainees")
          td
            span {{trainee.username}}
          td
            select.ui.dropdown(ng-model="trainee.appraise.type")
              option(ng-repeat="type in vm.types" value=type) {{type}}
          td
            select.ui.dropdown(ng-model="trainee.appraise.level")
              option(ng-repeat="level in vm.levels" value=level) {{level}}
          td
            .ui.icon.input
              input(type="text" placeholder="请输入评语..." ng-model='trainee.appraise.comment')
              i.inverted.search.icon
          td
            .ui.primary.button(ng-click="vm.add_appraise(trainee.appraise, trainee)") 确认添加
          td
            .ui.primary.button 以往评价

