.ui.grid#register-grid {
  margin: 20px;
}

i.checkmark.icon.correct-icon {
  color: green;
}

#Welcome-message {
  padding-left: 300px;
  font-size: 50px;
  font-family: cursive;
}

.ui.form.segment>.field {
  margin: 0px;
}

.grouped.inline.fields.inline-fields {
  margin: 0px;
}

.field-name {
  padding-right: 26px;
}

.three-field-name {
  padding-right: 13px;
}

.tips {
  height: 20px;
  padding-left: 70px;
}

span.tip {
  color: darkred;
}

#input-verification-code {
  width: 90px;
}

#verification-code {
  width: 70px;
}

#button-field {
  padding-left: 10px;
}

#success-tip{
  color: green;
}

#register-button {
  margin-left: 90px;
}

