doctype html
html
  head
    meta(name="description" content="")
    base(href="/")
    meta(name="viewport" content="width=device-width")
    script(src="jspm_packages/system.js")
    script(src="config.js")
    script.
      System.import("../app/scripts/app")
  body(ng-app="Muggles")
    p.
      hello muggles
    .content(ng-view="")
