doctype html
html
  head
    meta(name="description" content="")
    base(href="/")
    meta(name="viewport" content="width=device-width")
    link(rel="stylesheet" type="text/css" href="/jspm_packages/github/xiaoyanzhuzzh/Semantic-UI@master/dist/semantic.css")
    link(rel="stylesheet" type="text/css" href="styles/index.css")
    link(rel="stylesheet" type="text/css" href="styles/register.css")
    link(rel="stylesheet" type="text/css" href="styles/login.css")
    link(rel="stylesheet" type="text/css" href="styles/home.css")
    link(rel="stylesheet" type="text/css" href="styles/appraise.css")
    script(src="/jspm_packages/system.js")
    script(src="config.js")
    script.
      System.import("../app/scripts/app")
  body(ng-app="Muggles" ng-controller='indexController as vm')
    .ui.grid
      .two.wide.column
      .eleven.wide.column
        span.userName(ng-show="vm.show_user_name_signal" ng-bind="vm.trainerName")
        span 欢迎来到 Muggles 考评系统
      .three.wide.column
        a(ng-click="vm.logout()" ng-show="vm.show_logout_signal")#logout 注销
    .content(ng-view="")
