.ui.grid
  .one.wide.column
  .three.wide.column#group-menu-column
    .ui.wide.vertical.menu
      a.active.item
        label group1
      a.item
        label group2
      a.item
        label group3
  .ten.wide.column
    .ui.grid
      .six.wide.column
        span 选择日期:
          input(type="date" placeholder="yyyy-MM-dd" ng-model="vm.date" required)
      .ten.wide.column
        .ui.red.message(ng-show="vm.is_add_error") {{vm.add_error}}
        .ui.green.message(ng-show="vm.is_add_success") {{vm.add_success}}
    table.ui.table
      thead
        tr
          th
            span 姓名
          th
            span 评价等级
          th
            span 评语
          th
            span 添加
          th
            input(type="checkbox" name="all" ng-model="vm.check_all" ng-click="vm.select_all(vm.check_all)")
            label 全选
      tbody
        tr(ng-repeat="trainee in vm.trainees")
          td
            span {{trainee.username}}
          td
            select.ui.dropdown(ng-model="trainee.appraise.level" ng-options="level for level in vm.levels")
              option(value="") 请选择...
          td
            .ui.icon.input
              textarea(type="text" placeholder="请输入评语..." ng-model="trainee.appraise.comment")
          td
            .ui.primary.button(ng-click="vm.add_date_appraise(trainee.appraise, trainee, vm.date)") 添加
          td
              input(type="checkbox" ng-model="trainee.checked" ng-click="vm.select_trainee(trainee.checked, trainees)")

    .ui.primary.button(ng-click="vm.add_date_appraises(vm.trainees, vm.date)") 全部添加
