.ui.page.grid
  .six.wide.column
    h2.ui.inverted.header.black Trainer考评页
  .ten.wide.column
    .ui.content#message(ng-show="vm.rewrite_appraise_signal") 您已对该生发表评论，修改评论点击【确认】，否则点击【取消】&nbsp;
      .positive.ui.button(ng-click="vm.confirm_rewrite_appraise(vm.appraise)") 确认
      .negative.ui.button(ng-click="vm.cancel_rewrite_appraise()") 取消
    .ui.content#success-message(ng-show="vm.add_appraise_success_signal") 添加成功
  .sixteen.wide.column
    span 组别：
      select.ui.dropdown(ng-model="vm.appraise.group" ng-options="group.name for group in vm.groups" required)
        option(value="") 请选择...
    span 评价类型：
      select.ui.dropdown(ng-model="vm.appraise.type" ng-options="type for type in vm.types" required)
        option(value="") 请选择...
    span 评价等级：
      select.ui.dropdown(ng-model="vm.appraise.level" ng-options="level for level in vm.levels" required)
        option(value="") 请选择...
    span#date.center-display 选择日期：
      input(type="date" placeholder="2015-5-10" ng-model="vm.appraise.appraised_date" required)
    span.center-display 填写评语：
      .ui.icon.input
        textarea(rows="2" cols="20" type="text" placeholder="请输入评语..." ng-model="vm.appraise.comment")
    .positive.ui.button(ng-click="vm.submit_appraise_information(vm.appraise)") 确认
.ui.grid(ng-controller="appraiseController")
  .two.wide.column &nbsp;
  .two.wide.column
    .ui.fluid.vertical.steps
      .step
        .content
          .title 考评类型
      .step(ng-class="{true: 'active', false: 'black'} [vm.day_appraises_signal]" ng-click="vm.click_day_appraises()")
        .content
          a.title.can-click-step 日考评
      .step(ng-class="{true: 'active', false: 'black'} [vm.week_appraises_signal]" ng-click="vm.click_week_appraises()")
        .content
          a.title.can-click-step 周考评
      .step(ng-class="{true: 'active', false: 'black'} [vm.month_appraises_signal]" ng-click="vm.click_month_appraises()")
        .content
          a.title.can-click-step 月考评
      .step(ng-class="{true: 'active', false: 'black'} [vm.season_appraises_signal]" ng-click="vm.click_season_appraises()")
        .content
          a.title.can-click-step 季考评
  .ten.wide.column
    table.ui.table
      thead
        tr
          th
            span {{vm.trainee_name}}
          th
            span 考评等级
          th
            span 考评理由
          th
            span 考评人
          th
            span 组别
          th
            span 评价日期
      tbody(ng-show="vm.day_appraises_signal")
        tr(ng-repeat="appraise in vm.day_appraises")
          td
            span &nbsp;
          td
            span {{appraise.level}}
          td
            span {{appraise.comment}}
          td
            span {{appraise.appraiser.username}}
          td
            span {{appraise.group.name}}
          td
            span {{appraise.appraised_date}}
      tbody(ng-show="vm.week_appraises_signal")
        tr(ng-repeat="appraise in vm.week_appraises")
          td
            span &nbsp;
          td
            span {{appraise.level}}
          td
            span {{appraise.comment}}
          td
            span {{appraise.appraiser.username}}
          td
            span {{appraise.group.name}}
          td
            span 第{{appraise.appraised_date}}周
      tbody(ng-show="vm.month_appraises_signal")
        tr(ng-repeat="appraise in vm.month_appraises")
          td
            span &nbsp;
          td
            span {{appraise.level}}
          td
            span {{appraise.comment}}
          td
            span {{appraise.appraiser.username}}
          td
            span {{appraise.group.name}}
          td
            span {{appraise.appraised_date}}
      tbody(ng-show="vm.season_appraises_signal")
        tr(ng-repeat="appraise in vm.season_appraises")
          td
            span &nbsp;
          td
            span {{appraise.level}}
          td
            span {{appraise.comment}}
          td
            span {{appraise.appraiser.username}}
          td
            span {{appraise.group.name}}
          td
            span {{appraise.appraised_date}}
.ui.modal#rewrite-appraise(ng-show="vm.rewrite_appraise_modal_signal")
  i.close.icon
  .header 重新评论
  .content
    .description 您已发表评论，是否继续？
  .actions
    .two.fluid.ui.inverted.buttons
      .ui.red.basic.inverted.button
        i.remove.icon No
      .ui.green.basic.inverted.button
        i.checkmark.icon Yes
