.ui.grid(ng-controller="appraiseController")
  .one.wide.column &nbsp;
  .three.wide.column
    .ui.secondary.vertical.menu
      .ui.dropdown.item 考评类型
      .ui.dropdown.item.firstMenu
        i.dropdown.icon
        .menu
          a.item.secondMenu jkjkjjk
