.ui.grid#register-grid
  .ten.wide.column#welcome-column
   span#Welcome-message 等你好久啦！
  .four.wide.column
    .ui.form.segment
      .ui.header#register-header 欢迎注册Muggles
      .field
        label 姓名
        input#user-name(placeholder="姓名" type="text" ng-model="student_name" value="{{student_name}}")
      .field
        label 邮箱
        input#email(placeholder="邮箱" type="email")
      .field
        .grouped.inline.fields
          .field
            label 性别
          .field
              input(type="radio" name="fruit" value="男")
              label 男
          .field
              input(type="radio" name="fruit" value="女")
              label 女
      .field
        label 密码
        input#password(placeholder="密码" type="password")
      .field
        label 重复密码
        input#repeat-password(placeholder="重复密码" type="password")
      .field
        label 手机号
        input#phone-number(placeholder="手机号" type="text")
      .field
        label 邀请码
        input#invitation-code(placeholder="邀请码" type="text")
      .filed
        label 验证码
        input#verification-code(placeholder="验证码" type="text")
      .field#button-field
        .ui.positive.reset.button#reset-button 注册
        .ui.negative.submit.button#submit-button 返回登录
      .ui.second.small.coupled.modal.transition.hidden#registermodal
        .header 注册成功
        .content
          .description
            .p 系统已经向该邮箱发送了一封验证激活邮件
              .p 请查收邮件,进行验证激活！
        .actions
          a.primary.ui.button.confirm 确定
